<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding new invoice</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div>
    <a class="navigator" href="/admin/company/all">Back to company list</a>
</div>
<br>
<div>
    <p>Please enter your invoice:</p>
</div>
<br>

<form method="post" th:object="${invoice}">
    <input type="hidden" name="company"
           th:value="${company.id}"/>
    <div>
        <label for="invoiceNumber">Add number of invoice : </label>
        <input id="invoiceNumber" type="text" th:field="*{invoiceNumber}"/>
        <span class="alert-danger" th:if="${#fields.hasErrors('invoiceNumber')}" th:errors="*{invoiceNumber}">
            Invoices Errors
        </span>
    </div>

    <div>
        <label for="date" datatype="dd/MM/yyyy">Enter date of invoice : </label>
        <input id="date" type="date" th:field="*{date}"/>
        <span class="alert-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">
            Invoices Errors
        </span>
    </div>

    <div>
        <label for="invoiceDirection">Select direction of invoice : </label>
        <select th:field="*{invoiceDirection}" id="invoiceDirection">
            <option value="">Nothing selected</option>
            <option th:each="invoiceDirection: ${invoiceDirections}" th:value="${invoiceDirection.id}"
                    th:text="${invoiceDirection.direction}">
            </option>
        </select>
        <span class="alert-danger" th:if="${#fields.hasErrors('invoiceDirection')}" th:errors="*{invoiceDirection}">
            Invoices Errors
        </span>
    </div>

    <div>
        <label for="amountNetto">Enter netto amount : </label>
        <input id="amountNetto" th:field="*{amountNetto}"/>
        <span class="alert-danger" th:if="${#fields.hasErrors('amountNetto')}" th:errors="*{amountNetto}">
            Invoices Errors
        </span>
    </div>

    <div>
        <label for="vat">Choose the rate of tax : </label>
        <select th:field="*{vat}" id="vat">
            <option value="">Select vat</option>
            <option th:each="vat:${vates}" th:text="${vat.percents}" th:value="${vat.id}">
            </option>
        </select>
        <span class="alert-danger" th:if="${#fields.hasErrors('vat')}" th:errors="*{vat}">
            Invoices Errors
        </span>
    </div>

    <div>
        <label for="amountBrutto">This is your brutto amount : </label>
        <input id="amountBrutto" th:field="*{amountBrutto}"/>
        <span class="alert-danger" th:if="${#fields.hasErrors('amountBrutto')}" th:errors="*{amountBrutto}">
            Invoices Errors
        </span>
    </div>

    <div>
        <input class="button" type="submit" value="Add invoice">
    </div>
</form>

<script th:src="@{/js/counting.js}"></script>

</body>
</html>