<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Invoices Database</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<div>
    <a class="navigator" href="/admin/company/all">Back to company list</a>
</div>
<br>

<div>There are all invoiced for your company:</div>
<br>
<table border="5" color="blue">

    <thead>
    <th>Lp.</th>
    <th>Number</th>
    <th>Company name</th>
    <th>Date</th>
    <th>Direction</th>
    <th>Netto</th>
    <th>Vat</th>
    <th>Brutto</th>
    <th>Action</th>
    </thead>

    <tbody>
    <tr th:each="invoice: ${invoices}">
        <td th:text="${invoice.id}"></td>
        <td th:text="${invoice.invoiceNumber}"></td>
        <td th:text="${invoice.company.name}"></td>
        <td th:text="${invoice.date}"></td>
        <td th:text="${invoice.invoiceDirection.direction}"></td>
        <td th:text="${invoice.amountNetto}"></td>
        <td th:text="${invoice.vat.percents}"></td>
        <td th:text="${invoice.amountBrutto}"></td>
        <td>
            <br><a th:href="@{/invoice/delete/} + ${invoice.id}">Delete</a>
            <br><a th:href="@{/invoice/edit/} + ${invoice.id}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>

<!--selling view-->
<br>
<table border="3">

    <th>
        Here is count of your sell invoices
    </th>
</table>
<table border="3">
    <thead>
    <th>Total of brutto</th>
    <th>Total of netto</th>
    <th>Total of vat</th>
    </thead>

    <tbody>
    <tr>
        <td th:text="${bruttosSell}"></td>
        <td th:text="${nettosSell}"></td>
        <td th:text="${allVatSell}"></td>
    </tr>
    </tbody>
</table>


<!--buying view-->
<br>
<table border="3">

    <th>
        Here is count of your buy invoices
    </th>
</table>
<table border="3">
    <thead>
    <th>Total of brutto</th>
    <th>Total of netto</th>
    <th>Total of vat</th>
    </thead>

    <tbody>
    <tr>
        <td th:text="${bruttosBuy}"></td>
        <td th:text="${nettosBuy}"></td>
        <td th:text="${allVatBuy}"></td>
    </tr>

    </tbody>
</table>

</body>
</html>