<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Create a new company</title>
</head>
<body>
<div>
    <a th:href= "@{/}">Back to main menu</a>
</div>
<p>
    Please type your data:
</p>

<form method="post" th:object="${company}">

    <br>
    <div>
        <label for="name">Company Name: </label>
        <input id="name" type="text" th:field="*{name}"/>
        <errors path="name"/>

    </div>

    <div>
        <label for="address">Address:</label>
        <input id="address" type="text" th:field="*{address}"/>
        <errors path="address"/>

    </div>

    <div>
        <label for="email">E-mail: </label>
        <input id="email" type="text" th:field="*{email}"/>
        <errors path="email"/>

    </div>

    <div>
        <label for="NIP">NIP:</label>
        <input id="NIP" type="text" th:field="*{NIP}"/>
        <errors path="NIP"/>

    </div>
    <div>
        <label for="bankAccount">Bank Account:</label>
        <input id="bankAccount" type="text" th:field="*{bankAccount}"/>
        <errors path="bankAccount"/>

    </div>

      <div>
         <errors path="*"/>
      </div>
<!--make mapping for errors-->

    <br>
    <div>
        <input type="submit" value="Add company">
    </div>


</form>


</body>
</html>