<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>All companies</title>
</head>
<body>
<div>
    <a class="navigator" href="/">Back to main menu</a>
</div>
<br>
<p>This is the list of all companies allowed in program:</p>
<br>
<table border="2" color="blue">

    <tr>
        <th>Lp.</th>
        <th>Name</th>
        <th>Address</th>
        <th>E-Mail</th>
        <th>Nip</th>
        <th>Bank Account</th>
        <th>Action</th>

    </tr>
    <tbody>


    <tr th:each="company : ${companies}">
        <td th:text="${company.id}"></td>
        <td th:text="${company.name}"></td>
        <td th:text="${company.address}"></td>
        <td th:text="${company.email}"></td>
        <td th:text="${company.NIP}"></td>
        <td th:text="${company.bankAccount}"></td>

        <td>

            <div>

            <a class="navigator" th:href="@{/invoice/all/} + ${company.id}">Show all invoices</a>
            </div>

            <div>
            <a class="navigator" th:href="@{/invoice/add/} + ${company.id}">Add invoice</a>
            </div>

            <div>
            <a class="navigator" th:href="@{/admin/company/edit/} + ${company.id}">Edit Company</a>
            </div>

            <div>
            <a class="navigator" th:href="@{/admin/company/delete/} + ${company.id}">Delete Company</a>
            </div>
        </td>


    </tr>


    </tbody>
</table>


</body>
</html>