<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All companies</title>
</head>
<body>
<div>
    <a href="http://localhost:8080" style="text-decoration:none">Back to main menu</a>
</div>
<br>
<div>This is the list of all companies allowed in program:</div>
<br>
<table border="2" color="blue">

    <tr>
        <th>Lp.</th>
        <th>Name</th>
        <th>Address</th>
        <th>E-Mail</th>
        <th>Nip</th>
        <th>Bank Account</th>
        <th>Action</th>

    </tr>


    <tr th:each="company : ${companies}">
<!--        <td><em th:text="${company.id}"></em></td>-->
<!--        <td><em th:text="&{company.name}"></em></td>-->
<!--        <td><em th:text="${company.address}"></em></td>-->
<!--        <td><em th:text="${company.email}"></em></td>-->
<!--        <td><em th:text="${company.NIP}"></em></td>-->
<!--        <td><em th:text="${company.bankAccount}"></em></td>-->

<td>

        <br>
        <a href="http://localhost:8080/invoice/all/${company.id}" style="text-decoration: none">Show all invoice</a>
        <br>
        <a href="http://localhost:8080/invoice/add/${company.id}" style="text-decoration: none">Add invoice</a>
        <br>
        <a href="http://localhost:8080/admin/company/edit/${company.id}" style="text-decoration: none">Edit
            Company</a>
        <br>
        <a href="http://localhost:8080/admin/company/delete/${company.id}" style="text-decoration:none">Delete
            Company</a>
</td>


    </tr>


</table>
<link rel="stylesheet" th:href="@{/css/style.css}">
</body>
</html>