<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Edit your company</title>
</head>
<body>
<div>
    <a th:href= "@{/admin/company/all}">Back to company list</a>
</div>
<br>
<p>
Enter new data:
</p>



    <form method="post" th:object="${company}" th:action="${'/admin/company/edit'}">
        <hidden id="id" th:filed="*{id}"/>
        <div>
            <label for="name">Company Name:</label>
            <input id="name" type="text" th:field="*{name}"/>
            <errors path="name"/>

        </div>

        <div>
            <label for="address">Address:</label>
                <input id="address" type="text" th:field="*{address}"/>
                <errors path="address"/>

        </div>

        <div>
            <label for="email">E-mail:</label>
                <input id="email" type="text" th:field="*{email}"/>
                <errors path="email"/>

        </div>

        <div>
            <label for="NIP">NIP:</label>
                <input id="NIP" type="text" th:field="*{NIP}"/>
                <errors path="NIP"/>

        </div>
        <div>
            <label for="bankAccount">Bank Account:</label>
                <input id="bankAccount" type="text" th:field="*{bankAccount}"/>
                <errors path="bankAccount"/>

        </div>

        <div>
            <errors path="*"/>
        </div>
        <!--make mapping for errors-->



        <br>
        <div>
            <input type="submit" value="Edit company">
        </div>



    </form>

</body>
</html>
