<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Edit your company</title>
</head>
<body>
<div>
    <a class="navigator" href="/admin/company/all">Back to company list</a>
</div>
<br>
<p>
    Enter new data:
</p>


<form method="post" th:object="${company}" th:action="${'/admin/company/edit'}">

    <input id="id" th:field="*{id}" type="hidden"/>

    <div>
        <label for="name">Company Name:</label>
        <input id="name" type="text" th:field="*{name}"/>
        <span class="alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
            Companies Error
        </span>
    </div>

    <div>
        <label for="address">Address:</label>
        <input id="address" type="text" th:field="*{address}"/>
        <span class="alert-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">
            Companies Error
        </span>
    </div>

    <div>
        <label for="email">E-mail:</label>
        <input id="email" type="text" th:field="*{email}"/>
        <span class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
            Companies Error
        </span>
    </div>

    <div>
        <label for="NIP">NIP:</label>
        <input id="NIP" type="text" th:field="*{NIP}"/>
        <span class="alert-danger" th:if="${#fields.hasErrors('NIP')}" th:errors="*{NIP}">
            Companies Error
        </span>
    </div>

    <div>
        <label for="bankAccount">Bank Account:</label>
        <input id="bankAccount" type="text" th:field="*{bankAccount}"/>
        <span class="alert-danger" th:if="${#fields.hasErrors('bankAccount')}" th:errors="*{bankAccount}">
            Companies Error
        </span>
    </div>

    <div>
        <input class="button" type="submit" value="Edit company">
    </div>


</form>

</body>
</html>
