<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit your company</title>
</head>
<body>
<div>
    <a th:href= "@{/admin/company/all}">Back to company list</a>
</div>
<br>
Enter new data:


    <url var="edit_url" value="/admin/company/edit"/>
    <form method="post" th:object="${company}" th:action="${edit_url}">
        <hidden path="id" th:filed="*{id}"/>
        <div>
            <label>Company Name:
            <input path="name" type="text" th:field="*{name}"/>
            <errors path="name"/>
            </label>
        </div>

        <div>
            <label>Address:
                <input path="address" type="text" th:field="*{address}"/>
                <errors path="address"/>
            </label>
        </div>

        <div>
            <label>E-mail:
                <input path="email" type="text" th:field="*{email}"/>
                <errors path="email"/>
            </label>
        </div>

        <div>
            <label>NIP:
                <input path="NIP" type="text" th:field="*{NIP}"/>
                <errors path="NIP"/>
            </label>
        </div>
        <div>
            <label>Bank Account:
                <input path="bankAccount" type="text" th:field="*{bankAccount}"/>
                <errors path="bankAccount"/>
            </label>
        </div>

        <div>
            <errors path="*"/>
        </div>
        <!--make mapping for errors-->



        <br>
        <div>
            <input type="submit" value="Edit company">
        </div>



    </form>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</body>
</html>
